.checkbox {
    cursor: pointer;
    display: inline-block;
}

    .checkbox__icon {
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        background: #fff;
        border-radius: 2px;
        position: relative;
    }

        .checkbox__icon__inner {
            display: none;
            width: 10px;
            height: 10px;
            background: #626c71;
            position: absolute;
            top: 4px;
            left: 4px;
        }

    .checkbox__text {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 6px;
        font-size: 14px;
        line-height: 16px;
        color: #84949c;
    }